@media screen and (max-width: 690px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.footer-container {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.main-footer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: white;
  padding-top: 1rem;
  max-width: 1536px;
}

.footer-logo {
  width: 15rem;
  align-items: center;
}

.footer-logo img {
  width: 100%;
  align-items: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-family: 'Poppins';
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

li {
  display: inline-block;
  font-size: 10px;
}

li:first-child {
  margin-left: o;
}

.Lista-sin-estilo {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  cursor: pointer;
}

.img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
